<!-- <nav>
  <ul>
    <li><a id="dashboard-view-nav">Dashboard</a></li>
    <li><a id="did-view-nav">View your DID</a></li>
    <li><a id="reputation-view-nav">View your Reputation</a></li>
    <li><a id="verification-view-nav">Documents</a></li>
    <li><a id="credentials-view-nav">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</nav> -->
